<doctype html>
<title>Add User - Python Flask MySQL CRUD</title>
<h2>Add Karyawan</h2>
<form method="post" action="/save_karyawan">
    <dl>
		<p>
			<input name="nama" value="" type="text" placeholder="nama cvcb" autocomplete="off" required>
		</p>
		<p>
			<input name="umur" value="" type="number" placeholder="umut" autocomplete="off" required>
		</p>
		<p>
			<input name="alamat" value="" type="text" placeholder="alamat" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
